In [ ]:
#Predicting the probability of surviving on the Titanic... Lets be real...Rose let go... there were no survivors.

In [180]:
#Getting set up.... (Besides listening to Celine Dion)

In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier
import quandl

In [181]:
#Load Data... Full steam ahead!

In [134]:
Titanic = sns.load_dataset('titanic')
Titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [153]:
#Define X and Y Axis

In [154]:
x = Titanic.drop('survived', axis=1)
y = Titanic['survived']

In [182]:
#Data Wrangling.... Iceberg ahead? No problem.. Let's go faster!

In [137]:
#Drop redundant/unneeded columns

In [138]:
TitanicTrimmed = Titanic.drop(['sex', 'sibsp','parch','fare','embarked','adult_male','deck','embark_town',
                               'alive','alone','class'], axis=1)
TitanicTrimmed.head()

   survived  pclass   age    who
0         0       3  22.0    man
1         1       1  38.0  woman
2         1       3  26.0  woman
3         1       1  35.0  woman
4         0       3  35.0    man

In [139]:
TitanicTrimmed.dropna(inplace=True)

In [140]:
TitanicTrimmed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   age       714 non-null    float64
 3   who       714 non-null    object
dtypes: float64(1), int64(2), object(1)
memory usage: 27.9+ KB

In [183]:
#Recode Strings, change to integers.... Numbers are going to save us?... There are too many people 
#and not enough boats!

In [141]:
TitanicTrimmed.who.value_counts()

man      413
woman    218
child     83
Name: who, dtype: int64

In [142]:
def who (series):
    if series == 'man':
        return 0
    if series == 'woman':
        return 1
    if series == 'child':
        return 2

In [149]:
TitanicTrimmed['RecodeWho'] = TitanicTrimmed['who'].apply(who)
TitanicTrimmed['RecodeWho'] = TitanicTrimmed['RecodeWho'].astype(int)
TitanicTrimmed.drop('who', axis = 1, inplace = True)

In [150]:
TitanicTrimmed.head()

   survived  pclass   age  RecodeWho
0         0       3  22.0          0
1         1       1  38.0          1
2         1       3  26.0          1
3         1       1  35.0          1
4         0       3  35.0          0

In [151]:
#Define X and Y Axis

In [155]:
y = TitanicTrimmed.survived
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [156]:
x = TitanicTrimmed.drop('survived', axis = 1)
x.head()

   pclass   age  RecodeWho
0       3  22.0          0
1       1  38.0          1
2       3  26.0          1
3       1  35.0          1
4       3  35.0          0

In [157]:
TitanicTrimmed.head()

   survived  pclass   age  RecodeWho
0         0       3  22.0          0
1         1       1  38.0          1
2         1       3  26.0          1
3         1       1  35.0          1
4         0       3  35.0          0

In [158]:
#Train Test Split.... The Titanic did that!!!

In [159]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 76)

In [177]:
#Part One: Decision Tree

In [161]:
decisionTree = DecisionTreeClassifier(random_state = 76)
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=76)

In [169]:
print(confusion_matrix(y_test, treePredictions))

[[108  14]
 [ 29  64]]

In [170]:
treePredictions = decisionTree.predict(x_test)

In [171]:
print(classification_report(y_test, treePredictions))

              precision    recall  f1-score   support

           0       0.79      0.89      0.83       122
           1       0.82      0.69      0.75        93

    accuracy                           0.80       215
   macro avg       0.80      0.79      0.79       215
weighted avg       0.80      0.80      0.80       215

In [178]:
#Part Two: Random Forest... My favorite kind!

In [173]:
forest = RandomForestClassifier(n_estimators = 500, random_state = 76)
forest.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=76)

In [174]:
forestPredictions = forest.predict(x_test)
print(confusion_matrix(y_test, forestPredictions))
print(classification_report(y_test, forestPredictions))

[[106  16]
 [ 22  71]]
              precision    recall  f1-score   support

           0       0.83      0.87      0.85       122
           1       0.82      0.76      0.79        93

    accuracy                           0.82       215
   macro avg       0.82      0.82      0.82       215
weighted avg       0.82      0.82      0.82       215

In [175]:
#The decision tree was 80% accurate and the random forest was 82% accurate. As we continue to run more probilities, 
#The accuracy will become more and more precise. The numbers in the matrices are not that different, but based on the 
#accracy in the classification report, we can conclude the numbers in the random forest matrix are more accurate than
#than in the decision tree matrix.