## Part One: Recoding in Python

In [10]:
import pandas as pd

In [11]:
Eating_Habits = pd.read_csv("Eating_Habits.csv")

In [12]:
Eating_Habits.head()

                                                                                                                                                                  Eating_Habits
REF_DATE GEO     DGUID Sex   Age group Activity     Frequency            UOM     UOM_ID SCALAR_FACTOR SCALAR_ID VECTOR  COORDINATE VALUE STATUS SYMBOL TERMINATED      DECIMALS
1990     Austria NaN   Males 11 years  Eating fruit More than once a day Percent 239    units         0         v656366 1.1.1.1.1  34    NaN    NaN    NaN                    0
                                                    Once a day           Percent 239    units         0         v656367 1.1.1.1.2  42    NaN    NaN    NaN                    0
                                                    At least once a week Percent 239    units         0         v656368 1.1.1.1.3  17    NaN    NaN    NaN                    0
                                                    Seldom               Percent 239    units         0         v656369 1.1.1.1.4  4     NaN    NaN    NaN                    0

### Recode "Activity"

In [26]:
Eating_Habits.value_counts()
def activity (series):
    if series == "Eating fruit" : 
        return 0
    if series == "Drinking soft drinks, cola or other drinks with sugar" : 
        return 0
    if series == "Drinking coffee" : 
        return 0
    if series == "Eating french fries" : 
        return 0
    if series == "Eating hamburgers, hot dogs or sausages" : 
        return 0
    if series == "Eating candy, chocolate bars" : 
        return 1
    if series == "Eating whole wheat or rye bread" : 
        return 0
    if series == "Eating raw vegetables" : 
        return 0
    if series == "Eating potato chips, crisps" : 
        return 0
    if series == "Drinking whole milk" : 
        return 0
    if series == "Drinking low fat milk" : 
        return 0
    if series == "Eating peanuts" : 
        return 0

In [ ]:
EatingHabits['ChocolateYN'] = EatingHabits['Activity'].apply(activity)
EatingHabits.head()

### Recode Frequency and Sex from text to numbers in the same variable:

In [ ]:
Eating_Habits.Frequency.value_counts()
Eating_Habits.Sex.value_counts()

In [31]:
cleanup = {"Frequency" : {"Never" : 0, "Seldom" : 1, "At least once a week" : 2, "Once a day" : 3, "More than once a day" : 4}, "Sex" : {"Females" : 0, "Males" : 1}}
Eating_Habits.replace(cleanup, inplace=True)
Eating_Habits.head()

                                                                                                                                                                  Eating_Habits
REF_DATE GEO     DGUID Sex   Age group Activity     Frequency            UOM     UOM_ID SCALAR_FACTOR SCALAR_ID VECTOR  COORDINATE VALUE STATUS SYMBOL TERMINATED      DECIMALS
1990     Austria NaN   Males 11 years  Eating fruit More than once a day Percent 239    units         0         v656366 1.1.1.1.1  34    NaN    NaN    NaN                    0
                                                    Once a day           Percent 239    units         0         v656367 1.1.1.1.2  42    NaN    NaN    NaN                    0
                                                    At least once a week Percent 239    units         0         v656368 1.1.1.1.3  17    NaN    NaN    NaN                    0
                                                    Seldom               Percent 239    units         0         v656369 1.1.1.1.4  4     NaN    NaN    NaN                    0

### Dummy code the Age group variable:

In [ ]:
AgeDummy = pd.get_dummies(Eating_Habits['Age group'], drop_first=True)
AgeDummy

In [ ]:
Eating_Habits2 = pd.concat([Eating_Habits, AgeDummy], axis=1)
Eating_Habits2.head()